<p>question-edition works!</p>

<form>
    <div>
         <label>Enter your question</label> <input name="question-title" value="{{currentQuestion.title}}">
    </div>
    <div *ngFor="let currentChoice of currentQuestion.choices; let i = index">
        <mat-form-field>
            <mat-label>{{i}}</mat-label>
            <input placeholder="Just a placeholder" value="{{currentChoice.title}}" >
        </mat-form-field>
    </div>
    <button type="submit"><label>Test</label></button>


</form>